[submodule "libraries/rapidjson"]
	path = libraries/rapidjson
	url = git@github.com:miloyip/rapidjson.git
[submodule "libraries/eigen"]
	path = libraries/eigen
	url = git@github.com:RLovelett/eigen.git
